@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Karla:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');


.apresentacao__tiltulo2 {
    font-size: 2.5rem;
    font-family: 'Merienda One', cursive;

}

.apresentacao__titulo__curriculo {
    display: flex;

    font-size: 1.7rem;
    color: #22D4FD;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 40px;
    margin: 15px;
    gap: 10;
}

.certificado {
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Marcellus SC', serif;
}

.certificado:hover {
    font-size: 1.7rem;
}

.imagens_icons {
    padding: 10px;

}

.links {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.links:hover {
    color: #00758f;
    font-size: 2rem;
}

img, li {
    align-items: center;
}