@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Karla:wght@200&display=swap');



.apresentacao__titulo__curriculo{
    display: flex;
    
    font-size: 26px;
    color: #22D4FD;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 40px;
    margin: 15px;
    gap: 10;
}

.certificado{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
}
.certificado:hover{
    font-size: 26px;
}

.imagens_icons{
    padding: 10px;
    
}

.links{
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.links:hover{
    color: #00758f;
    font-size: 32px;
}