@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
*{
    margin: 0%;
    padding: 0%;
}


body{
    
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.cabecalho{
    padding: 2% 0 0 15%;

}

.cabecalho__menu{
    display: flex;
    gap: 80px;

}

.cabecalho__link{

    color: #22D4FD;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Catamaran', sans-serif;
    text-decoration: none;
}

.cabecalho__link:hover{
    color: #a2ced8;
    font-size: 26px;
}

.titulo{
    color: #22D4FD;
    font-size: 28px;
    border: 1px solid #22D4FD;
    padding: 7px;
} 

.apresentacao{
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.apresentacao__tiltulo{
    font-size: 30px;
    font-family: 'Merienda One', cursive;
}

.apresentacao__texto{
    font-size: 24px;
    font-family: 'Catamaran', sans-serif;

}

.apresentacao__links{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
    justify-content: space-between;
}

.apresentacao_subtiltulo{
    
    font-family: 'Catamaran', sans-serif;
}

.apresentacao__links_link{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 14px;
    color: #ffffff;
    text-align: center;
    width: 370px;
    padding: 21.5px 0;
    border-radius: 7px;
    border: 2px solid #22D4FD;
    font-size: 20px;
    font-family: 'Catamaran', sans-serif;
    text-decoration: none;
    
}

.apresentacao__links_link:hover{
    background-color: #272727;
    font-size: 26px;
}

.footer { 
    position:absolute; 
    bottom:0; 
    width:100%;
    font-size: 19px;
    color: black;
    text-align: center;
    padding: 20px;
    background-color: #0e849f;
    font-weight: 200;
    font-family: 'Catamaran', sans-serif;
  }









